name: Terraform Dev CI

on:
  push:
    branches: [dev]

jobs:
  terraform:
    name: Validate Terraform
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      TF_VAR_env: dev
      TF_VAR_aws_region: eu-west-3
      TF_VAR_project_name: lenic
      TF_VAR_ec2_keypair_name: lenic-ec2-keypair
      TF_VAR_ec2_ssh_public_key: ${{ secrets.EC2_SSH_PUBLIC_KEY }}
      TF_VAR_db_name: lenicDB
      TF_VAR_db_user: lenic_admin
      TF_VAR_db_password: ${{ secrets.DB_PASSWORD }}

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.12.2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -input=false