name: Terraform Apply Dev Infrastructure (Manual)

on:
  workflow_dispatch:

jobs:
  terraform-apply:
    name: Terraform Apply
    runs-on: ubuntu-latest
    env:
      TF_VAR_aws_terraform_key: ${{ secrets.AWS_TERRAFORM_KEY }}
      TF_VAR_aws_terraform_secret: ${{ secrets.AWS_TERRAFORM_SECRET }}
      TF_VAR_ec2_ssh_public_key: ${{ secrets.EC2_SSH_PUBLIC_KEY }}
      TF_VAR_db_password: ${{ secrets.DB_PASSWORD }}

    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve -input=false
