name: Terraform Deploy on Release

on:
  release:
    types: [published]

jobs:
  terraform:
    name: Deploy Infra
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.12.2
      
      - name: Create terraform.tfvars
        run: |
          cat > terraform.tfvars <<EOF
          aws_region         = "eu-west-3"
          project_name       = "Lenic"
          env                = "dev"
          ec2_ssh_public_key = "${{ secrets.EC2_SSH_PUBLIC_KEY }}"
          key_pair_name      = "Lenic-EC2-key"
          EOF

      - run: terraform init
      - run: terraform apply -auto-approve
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}